@import '../../assets/base'
$class = s($prefixer + '-play-icon-4-circle-rect')

$slider-color = rgb(69,147,248)

$border-width = 60px
$circleDashConst1 = 154

common-animate(name)
  animation-duration .6s
  // animation-iteration-count infinite
  animation-timing-function linear
  animation-fill-mode forwards
  animation-name name

.{$class}
  width 120px
  height 120px
  display flex

  &>svg
    width: 100%
    height 100%

.{$class}-group
  transform-origin center
  common-animate(ui-play-icon-4-circle-rect-ani-group)

@keyframes ui-play-icon-4-circle-rect-ani-group
  0%
     transform: translateX(0)
  66%
    transform: translateX(17.2%)
  100%
    transform: translateX(17.2%)

.{$class}-ring
  transform-origin center
  common-animate(ui-play-icon-4-circle-rect-ani-ring)


@keyframes ui-play-icon-4-circle-rect-ani-ring
  0%
    r 69.2
  66%
    r 34.6
  100%
    r 34.6

    

.{$class}-eye 
  transform-origin center
  common-animate(ui-play-icon-4-circle-rect-ani-eye)

@keyframes ui-play-icon-4-circle-rect-ani-eye
  0%
    rx 51.7
    ry 51.7
    transform: scale(0.66) translateX(-25.85%)
  66%
    rx 51.7
    ry 51.7
    transform: scale(0.66) translateX(0)
  100%
    rx 15
    ry 15
    transform: scale(1)