@import '../../assets/base'
$class = s($prefixer + '-cclogo-loading')

.{$class}
  width 120px
  height 120px
  position relative
  overflow hidden
  display flex

.{$class}-svg
  margin auto
  width 120px
  height 120px

  
.{$class}-ring
  transform rotate(-15deg)
  transform-origin center
  stroke-dashoffset:1802
  stroke-dasharray:1802
  animation: ui-cclogo-loading-circle-1 1.2s linear  infinite; /* 0s开始，持续1.2s*/
.{$class}-eye
  animation ui-cclogo-loading-eye 1s infinite
  transform-origin center


@keyframes ui-cclogo-loading-circle-1
  0
    stroke-dashoffset:1802
  45%, 100%
    stroke-dashoffset:0

@keyframes ui-cclogo-loading-eye
  0
    opacity 1
  25%
    opacity 0
  100%
    opacity 1


@keyframes  MH_Path1{
0%{stroke-dashoffset:705;}
45%, 100%{stroke-dashoffset: 0;}
}
/* 0s开始，持续0.9s，1.1s延迟*/

#MH_Path1{
stroke-dasharray:705;
animation: MH_Path1 2s linear both infinite;
}

@keyframes  MH_Path2{
0%, 45% {stroke-dashoffset: 645;}
90%, 100%{stroke-dashoffset: 0;}
}
/* 0.9s开始，持续0.9s,0.2s延迟*/

#MH_Path2{
stroke-dasharray:645;
animation: MH_Path2 2s linear both infinite;
}

@keyframes  MH_Path3{
0%, 90% {stroke-dashoffset: 108;}
100%{stroke-dashoffset: 0;}
}
/* 1.8s开始，持续0.2s*/

#MH_Path3{
stroke-dasharray:108;
animation: MH_Path3 2s linear both infinite;
}
/* 路径定义成三部分 对应三部分蒙版*/

mask{fill:#FFF}
#MHPath path{
fill: none;
stroke: #ef5813;
stroke-linecap: round;
stroke-linejoin: round;
stroke-width: 40px
}