.svg-sprite-2-story-2
  opacity 0.9
// use path 
//   fill: red
//   // & /deep/ path 
  

#ui-svg-sprite-2-all-down-circle
  path red


.svg-sprite-2-story-down
  width: 240px
  height 240px
  // background: url(https://n1other.hjfile.cn/res7/2018/11/23/292f40a39aa1b247d7023f778a0f097b.svg#icon3)
  background: url(https://n1other.hjfile.cn/res7/2019/05/20/d2cc54b2dba5b80c0eda26f4569d06f8.svg#src-svg-sprite-down-)
  background-size contain