@import '../../assets/base'
$class = s($prefixer + '-cclogo-loading-path-eye')

.{$class}
  width 120px
  height 120px
  position relative
  overflow hidden
  display flex

.{$class}-svg
  margin auto
  width 120px
  height 120px

.{$class}-group
  transform-origin center
  transform rotate(345deg)
  animation: ui-cclogo-loading-path-eye-svg 1.5s linear  infinite; /* 0s开始，持续1.2s*/

@keyframes ui-cclogo-loading-path-eye-svg
  0
    transform rotate(345deg)
  55%, 100%
    transform rotate(-15deg)

  
.{$class}-ring
  transform-origin center
  animation: ui-cclogo-loading-path-eye-circle 1.5s linear  infinite; /* 0s开始，持续1.2s*/
  stroke-dashoffset:1802
  stroke-dasharray:1802
.{$class}-eye
  animation ui-cclogo-loading-path-eye-eye 1s infinite
  transform-origin center


@keyframes ui-cclogo-loading-path-eye-circle
  0
    stroke-dashoffset:1802
  55%
    stroke-dashoffset:0
    d path("M-20 300 A320,320, 0,1,1, -20.000001858166243,300.02129301676624")
  90%
    stroke-dashoffset:0
    d path("M50 300 A290,290, 0,1,1, 50.000001858166243,300.02129301676624")
  100%
    stroke-dashoffset:0
    d path("M50 300 A290,290, 0,1,1, 50.000001858166243,300.02129301676624")


@keyframes ui-cclogo-loading-path-eye-eye
  0
    opacity 1
  25%
    opacity 0
  100%
    opacity 1