@import '../../assets/base'
$class = s($prefixer + '-loading-1-preloader')

$slider-color = rgb(69,147,248)

$border-width = 60px


.{$class}
  width 120px
  height 120px
  display flex


.{$class}-btn-play
  box-sizing: border-box;
  height: 20px;
  transition: 240ms all ease;
  cursor: pointer;

  // play state
  border-color: transparent transparent transparent $slider-color;
  border-style: solid;
  border-width: $border-width 0 $border-width $border-width * 1.6;


  &:hover
    opacity 0.8

.{$class}-pause
  border-radius: ($border-width / 3)
  border-width: 0px 0 0px $border-width * 1.6
  height: $border-width * 1.6
  margin-top $border-width * 0.2