@import '../../assets/base'
$class = s($prefixer + '-play-icon-5-rect-skew')

.{$class}
  width 120px
  height 120px

.{$class}-svg
  width: 100%
  height 100%

.{$class}-ring
  transform-origin center
  transition all 0.3s cubic-bezier(.54,-0.75,.47,1.58)
  transform: rotate(-45deg) skew(15deg, 15deg) translate(-21%, -27%) scale(1.1) 
  stroke-linejoin round

.{$class}-to-pause .{$class}-ring
  transform: rotate(0) skew(0, 0) translate(0, 0) scale(0.8) 
  stroke-width: 30