@import '../../assets/base'
$class = s($prefixer + '-css-var-1-rating-item')
.{$class}
  margin 0
  padding  24px 16px
  list-style none
  &:last-child
    padding-bottom 12px
  @media (min-width ($max-body-width + 1px))
    & 
      padding-left 0
      padding-right 0

.{$class}-linked
  cursor pointer
  
.{$class}-info
  font-size 14px
  color #95A1AF
  margin-bottom 10px
.{$class}-user
  margin-left 10px
.{$class}-avatar
  display inline-block
  width 22px
  height 22px
  vertical-align -5px
  border-radius 100%
  background-color #f5f5f5
  background-size 100% auto
  background-position center center
.{$class}-time
    float right
    margin-top 3px

.{$class}-star
  display inline-block
  margin-left 14px
  margin-top 1px

.{$class}-dec, .{$class}-dec-grey
  line-height 1.5
  font-size 16px
  color #2F3742
  color var(s('--' + $class + '-dec-color'))
  font-weight 300
  word-break break-word
  word-wrap break-word
  white-space pre-wrap
  @media (min-width ($max-body-width + 1px))
    &
      font-weight normal
.{$class}-dec-grey
  color #95A1AF
  
.{$class}-tag
  vertical-align top
  display inline-block
  margin-right: 8px
  margin-bottom 6px
  background rgba(47, 90, 255, 0.08)
  box-shadow 0 0 0 1px rgba(47, 90, 255, 0.4)
  border-radius: 6px
  line-height: 20px
  font-size: 12px
  padding 0 6px
  color #2F5AFF
  color var(s('--' + $class + '-tag-color'))
  background-color var(s('--' + $class + '-tag-bg-color'))
  box-shadow 0 0 0 1px var(s('--' + $class + '-tag-shadow-color'))

.{$class}-tag-more
  display none
  &:after
    content ''
    display inline-block
    vertical-align: middle
    margin-top -3px
    width 12px
    height: 12px
    background url(https://n1image.hjfile.cn/res7/2018/11/12/86c68b2d5ab7bfb6938ea5a94fc4bbbf.png) no-repeat
    background-size contain

.{$class}-more-hide
  .{$class}-tag:nth-child(n+4)
    display none
  .{$class}-tag-more
    vertical-align top
    padding-bottom 6px
    display inline-block
    line-height: 20px
    font-size: 12px
    color #2F5AFF
    color var(s('--' + $class + '-tag-color'))
    cursor pointer

// 回复展示
.{$class}-reply-text
  margin-top 10px
  border-radius 6px
  padding 12px 15px
  background-color #F6F7F9
  font-weight 300
  color #6C7D91
  font-size 14px
  line-height 1.6
  word-break break-word
  word-wrap break-word
  white-space pre-wrap

  color var(s('--' + $class + '-reply-text-color'))
  background-color var(s('--' + $class + '-reply-text-bg-color'))

  @media (min-width ($max-body-width + 1px))
    font-weight normal
  span
    color #95A1AF
    color var(s('--' + $class + '-reply-text-span-color'))
    
  &:before
    display inline-block
    content ''
    width 10px
    height 10px
    background-color #F6F7F9
    background-color var(s('--' + $class + '-reply-text-before-color'))
    position absolute
    margin-left 17px
    margin-top -17px
    transform rotate(-45deg)

