@import '../../assets/base'
$class = s($prefixer + '-cclogo-loading-path-circle')

.{$class}
  width 120px
  height 120px
  position relative
  overflow hidden
  display flex

.{$class}-svg
  margin auto
  width 120px
  height 120px

  
.{$class}-ring
  transform rotate(-15deg)
  transform-origin center
  stroke-dashoffset:1802
  stroke-dasharray:1802
  animation: ui-cclogo-loading-path-circle-ring 1.2s linear  infinite; /* 0s开始，持续1.2s*/
.{$class}-eye
  animation ui-cclogo-loading-path-circle-eye 1s infinite
  transform-origin center


@keyframes ui-cclogo-loading-path-circle-ring
  0
    stroke-dashoffset:1802
  45%, 100%
    stroke-dashoffset:0

@keyframes ui-cclogo-loading-path-circle-eye
  0
    opacity 1
  25%
    opacity 0
  100%
    opacity 1